<!-- <input "id=ID1" type="number" ng-model="input1" />
<input "id=ID2" ng-model="input2" />

<button id="totalButton" ng-click="$ctrl.combineNumbers">Total</button>

<input id="functionButtonAdd" type="button" ng-value="add" ng-model="functionButtonAdd">+/>

<input id="functionButtonMultiply" type="button" ng-value="multiply" ng-model="functionButtonMultiply">X/> -->

<p><input id="ID1" type="number" ng-model="a"></p>
  <p><input id="ID2" type="number" ng-model="b"></p>
  <p><select ng-model="operator">
        <option>+</option>
        <option>*</option>
        <option>-</option>
        <option>/</option>
     </select></p>
  <p>{{ result() }}</p>
 </div>